@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(44, 53, 93);
    filter: brightness(150%);
    position: fixed;
    top: 0;
}


body {
    background-image: url("./images/vintage-wallpaper.png");
    font-family: roboto slab;
    color: white;
    /* for footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* for footer */

main {
    flex: 1 0 auto;
}

p {
    width: 90%;
}

p.profile {
    width: 95%;
    margin-left: .75em;
}

.row {
    margin: 0;
    margin-bottom: 0em;
}

.col {
    padding-right: 0;
}

.links {
    margin-right: 5em;
}

h4, h5 {
    text-align: center;
}

h4 {
    font-size: 3em;
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

h6 {
    font-weight: 700;
}

#name {
    font-size: 1.75em;
    margin-left: 5%;
}

#nav-mobile {
    margin-right: 5%;
}

#intro, #skills {
    margin-top: 10em;
    margin-bottom: 5em;
}

#skills {
    background-image: url("./images/white_paperboard.png");
    color: rgb(44, 53, 93);
}

#profile-pic {
    /* height: 35%;
    width: 35%; */
    border: 2px solid rgb(77, 118, 200);
    float: left;
    margin: 1em 1em 0 .75em;
}

.page-footer {
    background-color: rgb(44, 53, 93);
    filter: brightness(150%);
}

.btn-flat {
    background-color: rgb(44, 53, 93);
    filter: brightness(150%);
    color: white;
    border-radius: .25em;
    margin: 5px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.social {
    font-size: 300%;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .project-pics {
        height: 90%;
        width: 90%;
        border: 2px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #interests-mobile {
        margin-top: 5%;
    }
    #resume {
        position: relative;
        top: .25em;
    }
}

@media only screen and (max-width: 768px) {
    #interests-mobile {
        display: none;
    }
    #interests {
        display: block;
    }
    #resume {
        position: relative;
        top: .25em;
    }
}

@media only screen and (max-width: 1024px) {
    .project-pics {
        height: 90%;
        width: 90%;
        border: 2px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #ycg, #wd, #wds, #talk {
        width: 95%;
    }
    #interests-mobile {
        display: none;
    }
    #interests {
        display: block;
    }
    #skills-title {
        margin-top: -25%;
        padding-bottom: 15%;
    }
    #resume {
        position: relative;
        top: 2.25em;
    }
}

@media only screen and (max-width: 1600px) {
    #resume {
        position: relative;
        top: 5.25em;
    }
}


@media only screen and (max-width: 3800px) {
    .project-pics {
        height: 80%;
        width: 80%;
        border: 3px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #ycg, #wd, #wds, #talk {
        width: 95%;
    }
    #interests-mobile {
        display: none;
    }
    #interests {
        display: block;
    }
    #profile-pic {
        height: 25%;
        width: 25%;
    }
    #main-container {
        width: 100vw;
        margin: 0 auto;
        max-width: 2200px;
    }
    #resume {
        position: relative;
        bottom: 2.5em;
    }
}

a:visited {
    background-color: rgb(44, 53, 93);
}

a:active {
    background-color: rgb(44, 53, 93);
}

a:link {
    background-color: rgb(44, 53, 93);
}

a:hover {
    color: rgb(90, 161, 226);
}

#top {
    font-size: 3em;
    color: rgb(90, 161, 226);
}

#top-div {
    padding-bottom: 15%;
}

#top:hover {
    color: rgb(44, 53, 93);
}

#interests {
    font-size: 300%;
    opacity: .1;
    margin-top: 5%;
}

#interests-mobile {
    font-size: 300%;
    opacity: .1;
    margin-bottom: 10%;
}

#btc, #light, #cloud {
    margin: 0 5%;
}

#light:hover {
    opacity: 1;
    color: #f28500;
}

#btc:hover {
    opacity: 1;
    color: #f28500;
}

#cloud:hover {
    opacity: 1;
    color: #f28500;
}

hr {
    width: 75%;
}

.middle {
    margin-left: 1em;
}

.nav-extended {
    z-index: 10;
}

.reverse {
    color: #f28500;
}

#last-row {
    padding-bottom: 15%;
}

#contact {
    padding: 0 0 20% 0;
    background-image: url("./images/white_paperboard.png");
}

#contact-form {
    padding: 15% 0 20% 0;
}

#contact-form-heading {
    text-align: center;
    font-size: 1.25em;
    margin: 10% 5% 25% 5%;
}

form {
    margin-bottom: 10%;
}

#talk-title {
    padding-top: 20%;
    color: rgb(44, 53, 93);
    font-size: 2.25em;
} 


#talk {
color: rgb(44, 53, 93);
}

#back {
    position: absolute;
    top: 1%;
    right: 3%;
}

.head {
    font-size: 1.25em;
    font-weight: 700;
}

.list {
    margin-left: 1em;
}

 #skills-title {
    position: relative;
    bottom: -15px;
    color: rgb(44, 53, 93);
    font-size: 2.25em;
} 

#projects-title {
    font-size: 2.25em;
} 


 #skills {
    padding-bottom: 75%;
}

#resume {
    padding-bottom: 60%;
    padding-top: 10%;
}

.project-buttons {
    padding-top: 5%;
}

.project-page {
    padding-bottom: 15%;
}

#chat {
    font-size: 400%;
    color: #f28500
}

#close-nav {
    float: right;
}

#about-mobile, #skills-mobile, #projects-mobile, #contact-mobile, #close {
    color: white;
}

#download-div {
    margin-top: 5%;
}

#download {
    color: rgb(77, 118, 200);
}

#download:hover {
    color: white;
}

.indent {
    margin-left: 1em;
}

#experience {
    padding-bottom: .25em;
}

#resume-details {
    margin-top: 7em;
}

.resume-bold {
    font-weight: 700;
    padding-top: .25em;
}

#hamburger-menu, #awaiting {
    color: #f28500;
}