@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(44, 53, 93);
    filter: brightness(150%);
    position: fixed;
    top: 0;
}

body {
    background-image: url("./images/vintage-wallpaper.png");
    color: white;
}

p {
    width: 90%;
}

p.profile {
    width: 95%;
    margin-left: .75em;
}

.row {
    margin: 0;
}

.col {
    padding-right: 0;
}

.links {
    margin-right: 5em;
}

h4, h5 {
    text-align: center;
}

h5 {
    font-weight: 700;
}

h6 {
    font-weight: 700;
}

#resume {
    /* font-family: 'Parisienne', cursive; */
    font-size: 2.5em;
    margin-left: .5em;
}

/* footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#intro {
    margin-top: 10em;
    margin-bottom: 5em;
}

#profile-pic {
    height: 35%;
    width: 35%;
    border: 2px solid rgb(77, 118, 200);
    float: left;
    margin: 1em 1em 0 .75em;
}

.page-footer {
    background-color: rgb(44, 53, 93);
    filter: brightness(150%);
}

#close-nav {
    float: right;
}

.btn-flat {
    background-color: rgb(44, 53, 93);
    filter: brightness(150%);
    color: white;
    border-radius: .25em;
    margin: 5px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.social {
    font-size: 300%;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .project-pics {
        height: 90%;
        width: 90%;
        border: 2px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #interests {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1024px) {
    .project-pics {
        height: 90%;
        width: 90%;
        border: 2px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #ycg, #wd, #wds, #talk {
        width: 95%;
    }
    #interests {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 2000px) {
    .project-pics {
        height: 70%;
        width: 200px;
        border: 3px solid rgb(77, 118, 200);
        margin-bottom: 1em;
    }
    #ycg, #wd, #wds, #talk {
        width: 95%;
    }
    #interests {
        margin-top: 5%;
    }
}

a:visited {
    background-color: rgb(44, 53, 93);
}

a:active {
    background-color: rgb(44, 53, 93);
}

a:link {
    background-color: rgb(44, 53, 93);
}

a:hover {
    color: rgb(90, 161, 226);
}

.top {
   color: rgb(77, 118, 200);
}

.top:hover {
    color: white;
}

#interests {
    font-size: 300%;
    opacity: .1;
    margin-bottom: 10%;
}

#btc, #light, #cloud {
    margin: 0 5%;
}

#light:hover {
    opacity: .5;
    color: white;
}

#btc:hover {
    opacity: .5;
    color: goldenrod;
}

#cloud:hover {
    opacity: .5;
    color: gray;
}

hr {
    width: 75%;
}

.middle {
    margin-left: 1em;
}

.nav-extended {
    z-index: 10;
}